#title {
  background-color: #ff4c68;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
  color: white;
}
h2{
  font-size: 3rem;
  line-height: 1.5;
  font-family: sans-serif;
  font-weight: bold;
}
h3{
  font-weight: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
p{
  color: #8f8f8f;
  font-family: sans-serif;
}
/* Front page */
.container-fluid {
  padding: 3% 15%;
  padding-bottom: 100px;
}
.download-button{
  margin: 5% 3% 0 0;
  font-family:sans-serif;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/* navbar */
.nav-logo{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}
.navbar{
  padding : 0 0 4.5rem ;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: bold;
}
/* Feature section */
#features{
  padding: 7% 15%;
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.f-icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.f-icon:hover{
  color: #ff4c68;
}
/* Testimonials Section */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
    padding : 7% 15%;
}
/* Press images */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}
/* Pricing Section */
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  margin: 3% .5%;
  padding: 0;
}
/* Download section */
#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}
.btn-lg{
  margin-bottom: 7%;
  font-family: sans-serif;
}
.call{
  font-size: 3.5rem;
  color: #fff;
  line-height: 1.5;
}
/* Footer Section */
footer{
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}
.s-icon{
  color: black;
  margin: 1%;
}
.copyright{
  margin-top: 2%;
}
@media (max-width : 1000px) {
  .title-image{
    position: static;
    transform: none;
  }
  #title{
    text-align: center;
  }
}
